@model OAuthClient.Models.AccesTokenViewModel;
@{
    ViewData["Title"] = "Secret";
}

<h1>Ovo je stranica kojoj se ne može pristupiti bez autorizacije</h1>

<h3>AccesToken:</h3>
<p style="width: 400px;   word-wrap: break-word;"> @Model.AccesToken
<p />
<h3>Prvi dio:</h3>
<p style="width: 400px;   word-wrap: break-word;"> @Model.Prvi
<p />
<h3>Drugi dio:</h3>
<p style="width: 400px;   word-wrap: break-word;"> @Model.Drugi
<p />
<h3>Treci dio:</h3>
<p style="width: 400px;   word-wrap: break-word;"> @Model.Treci
<p />
